<template name = "home">
    <head>
        <style>
            body {
                background-color: #3F48CC;
            }
        </style>
    </head>
    <!--edited background color in css body tag because html body tag only filled the slideshow div!-->
    <body>
    <!-- import W3 slideshow template!-->
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <h2 class="w3-center" style="font-family:HarryPotter;color:aliceblue; font-size: 100">PHAMERATOR</h2>
        <!--import pictures for slideshow...add fade animation!-->
            <div class="w3-content w3-display-container">
                <img class="mySlides w3-animate-fading" src="https://scontent.xx.fbcdn.net/v/t1.0-9/17799248_1437010912986312_1784653687192383326_n.jpg?oh=b0e5ffa4a2e720b6cee885c7f615e34a&oe=59581E74" style="width:100%">
                <img class="mySlides w3-animate-fading" src="https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/18155919_1465917186762351_2343057971965252270_o.jpg?oh=104324995f3c314fab7a47391426e648&oe=59C029F3" style="width:100%">
                <img class="mySlides w3-animate-fading" src="https://scontent.xx.fbcdn.net/v/t1.0-9/17796140_1437021159651954_498241527486966878_n.jpg?oh=7bbfa7148a80018b5f0804697288f119&oe=599B0380" style="width:100%">
                <img class="mySlides w3-animate-fading" src="https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/18155921_1465917166762353_6194381754328055557_o.jpg?oh=4df993ccd3282fce6ffe04bc89030a4f&oe=5989168F" style="width:100%">
                <img class="mySlides w3-animate-fading" src="https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/18121270_1465917170095686_2189613919129435078_o.jpg?oh=e41af8e66be8fdc3b1a542c97d0ae092&oe=59899861" style="width:100%">
                <img class="mySlides w3-animate-fading" src="https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/18192631_1465922766761793_1603570651013198600_o.jpg?oh=df1fd102da416bef8ae90e4d99e8cade&oe=59951A9D" style="width:100%">
            </div>


        <div id='iframediv' style="background-color: #3F48CC">
        </div>
    <!-- embed youtube video in iframe!-->
        <iframe width="650" height="365.17" style="padding:20px;position:absolute;left:25%" src="https://www.youtube.com/embed/PMivT7MJ41M" frameborder="0" allowfullscreen></iframe>
        <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
    </body>
</template>
